

<h1> About page</h1>

<p> Student Management System was created on the @ViewBag.formed.ToShortDateString() or @ViewBag.days ago</p>

<p>

 Last week this time : @(DateTime.Now - TimeSpan.FromDays(7))
</p>
